{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  {{ pattern('breadcrumb', {
    'items': breadcrumb,
    'prepend_last_item': prepend_last_item ?: false
  }) }}
{% endif %}
