{% set container_classes = grid_container|split('--') %}

{%
  set grid_classes = [
    grid_type,
    grid_gutters|join(' '),
    collapse_cells|join(' '),
    block_grids_small,
    block_grids_medium,
    block_grids_large,
    block_grids_xlarge,
    block_grids_xxlarge,
    grid_flexbox_alignment|join(' '),
  ]
%}

{%
  set cell_classes = [
    'cell',
    cell_auto_sizing,
    cell_small,
    cell_medium,
    cell_large,
    cell_xlarge,
    cell_xxlarge,
    cell_flexbox_alignment_vertical|join(' '),
    cell_vanilla_flexbox|join(' '),
  ]
%}

{% if container_classes is not empty %}
  <div{{ create_attribute({'class': container_classes}) }}>
{% endif %}

<div{{ attributes.addClass(grid_classes) }}>
  {% for item in content %}
    <div{{ create_attribute({'class': cell_classes}) }}>
      {{ item }}
    </div>
  {% endfor %}
</div>

{% if container_classes is not empty %}
  </div>
{% endif %}
