<nav aria-label="{{ 'You are here:'|t }}" role="navigation">
  <ul {{ attributes.addClass('breadcrumbs') }}>
    {% for item in items %}
      <li {{ item.attributes }}>
        {% if prepend_last_item and loop.last %}
          <span class="show-for-sr">{{ 'Current page:'|t }}</span> {{ item.text }}
        {% elseif item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
