{#
/**
 * @file
 * Template for a grid layout.
 */
#}
{%
  set classes = [
    'layout',
    'layout--' ~ layout.id|clean_class,
  ]
%}

{# Container classes detection. #}
{%
  set container_classes_options = [
    'grid-container',
    'grid-container--fluid',
    'grid-container--full',
  ]
%}

{% set container_classes = [] %}
{% for searched_class in container_classes_options %}
  {% if attributes.hasClass(searched_class) %}
    {% set container_classes = searched_class|split('--') %}
  {% endif %}
{% endfor %}

{# Clean container classes. #}
{% set attributes = attributes.removeClass(container_classes_options) %}

{% if content %}

  {% if container_classes is not empty %}
    <div{{ create_attribute({'class': container_classes}) }}>
  {% endif %}

  <div{{ attributes.addClass(classes) }}>
    {% for region in layout.getRegionNames %}
      {% if content[region] %}
        {%
          set default_region_classes = [
            'layout__region',
            'layout__region--' ~ region|clean_class,
            'cell',
          ]
        %}
        {# Set default region classes first. #}
        {% set region_classes = region_attributes[region].getClass()|render %}
        {% set region_classes = default_region_classes|merge(region_classes|split(' ')) %}

        <div {{ region_attributes[region].setAttribute('class', region_classes) }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if container_classes is not empty %}
    </div>
  {% endif %}

{% endif %}
