<div id="example-navigation">
  <h2>Table of content</h2>
  <ul>
    <li><a href="#example-sizing">Sizing</a></li>
    <li><a href="#example-coloring">Coloring</a></li>
    <li><a href="#example-hollow-style">Hollow style</a></li>
    <li><a href="#example-disabled">Disabled buttons</a></li>
    <li><a href="#example-clear-style">Clear style</a></li>
    <li><a href="#example-dropdown">Dropdown arrows</a></li>
  </ul>

  <p>Implemented as "styles" from the <a href="https://www.drupal.org/project/ui_styles">UI Styles module</a>.</p>
  <p>You can see the styles in the <a href="/styles">Styles library</a> (UI Styles Library required).</p>
</div>

<hr>

<div id="example-sizing">
  <h2>Sizing</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#sizing">Zurb Foundation documentation</a></p>

  <a class="button tiny" href="#">So Tiny</a>
  <a class="button small" href="#">So Small</a>
  <a class="button" href="#">So Basic</a>
  <a class="button large" href="#">So Large</a>
  <a class="button expanded" href="#">Such Expand</a>
  <a class="button small expanded" href="#">Wow, Small Expand</a>

  <p>Note that the additional responsive button expand classes needs to be enabled in the SASS variables.</p>

  <a class="button small small-only-expanded" href="#">Expand only on small viewport</a>
  <a class="button small medium-only-expanded" href="#">Expand only on medium viewport</a>
  <a class="button small large-only-expanded" href="#">Expand only on large viewport</a>
  <a class="button small xlarge-only-expanded" href="#">Expand only on extra large viewport</a>
  <a class="button small xxlarge-only-expanded" href="#">Expand only on extra extra large viewport</a>

  <a class="button small medium-expanded" href="#">Expand on medium and larger</a>
  <a class="button small large-expanded" href="#">Expand on large and larger</a>
  <a class="button small xlarge-expanded" href="#">Expand on extra large and larger</a>

  <a class="button small medium-down-expanded" href="#">Expand on medium and smaller</a>
  <a class="button small large-down-expanded" href="#">Expand on large and smaller</a>
  <a class="button small xlarge-down-expanded" href="#">Expand on extra large and smaller</a>
</div>

<hr>

<div id="example-coloring">
  <h2>Coloring</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#coloring">Zurb Foundation documentation</a></p>

  <a class="button primary" href="#">Primary</a>
  <a class="button secondary" href="#">Secondary</a>
  <a class="button success" href="#">Success</a>
  <a class="button alert" href="#">Alert</a>
  <a class="button warning" href="#">Warning</a>
</div>

<hr>

<div id="example-hollow-style">
  <h2>Hollow style</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#hollow-style">Zurb Foundation documentation</a></p>

  <button class="hollow button" href="#">Primary</button>
  <button class="hollow button secondary" href="#">Secondary</button>
  <button class="hollow button success" href="#">Success</button>
  <button class="hollow button alert" href="#">Alert</button>
  <button class="hollow button warning" href="#">Warning</button>
  <button class="hollow button" href="#" disabled>Disabled</button>
</div>

<hr>

<div id="example-disabled">
  <h2>Disabled buttons</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#disabled-buttons">Zurb Foundation documentation</a></p>
  <p>The "aria-disabled" attribute is put automatically on links with JS.</p>

  <a class="button disabled" href="#">Disabled</a>
  <button type="button" class="button primary" disabled>Disabled</button>
  <button type="button" class="button secondary" disabled>Disabled</button>
  <button type="button" class="button success" disabled>Disabled</button>
  <button type="button" class="button alert" disabled>Disabled</button>
  <button type="button" class="button warning" disabled>Disabled</button>

  <a class="button hollow disabled" href="#">Disabled</a>
  <button type="button" class="button hollow primary" disabled>Disabled</button>
  <button type="button" class="button hollow secondary" disabled>Disabled</button>
  <button type="button" class="button hollow success" disabled>Disabled</button>
  <button type="button" class="button hollow alert" disabled>Disabled</button>
  <button type="button" class="button hollow warning" disabled>Disabled</button>
</div>

<hr>

<div id="example-clear-style">
  <h2>Clear style</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#clear-style">Zurb Foundation documentation</a></p>

  <a class="clear button" href="#">Primary</a>
  <a class="clear button secondary" href="#">Secondary</a>
  <a class="clear button success" href="#">Success</a>
  <a class="clear button alert" href="#">Alert</a>
  <a class="clear button warning" href="#">Warning</a>
  <a class="clear button disabled" href="#">Disabled</a>
</div>

<hr>

<div id="example-dropdown">
  <h2>Dropdown arrows</h2>
  <p><a href="https://get.foundation/sites/docs/button.html#dropdown-arrows">Zurb Foundation documentation</a></p>

  <button class="dropdown button tiny">Dropdown Button</button>
  <button class="dropdown button small">Dropdown Button</button>
  <button class="dropdown button">Dropdown Button</button>
  <button class="dropdown button large">Dropdown Button</button>
  <button class="dropdown button expanded">Dropdown Button</button>
</div>
