<div id="example-navigation">
  <h2>Table of content</h2>
  <ul>
    <li><a href="#example-text-alignment">Text alignment</a></li>
    <li><a href="#example-subheader">Subheader</a></li>
    <li><a href="#example-lead-paragraph">Lead paragraph</a></li>
    <li><a href="#example-un-bulleted-list">Un-bulleted list</a></li>
    <li><a href="#example-typescale">Typescale</a></li>
    <li><a href="#example-statistics">Statistics</a></li>
  </ul>

  <p>Implemented as "styles" from the <a href="https://www.drupal.org/project/ui_styles">UI Styles module</a>.</p>
  <p>You can see the styles in the <a href="/styles">Styles library</a> (UI Styles Library required).</p>
</div>

<hr>

<div id="example-text-alignment">
  <h2>Text alignment</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#text-alignment">Zurb Foundation documentation</a></p>

  <p class="text-left"><strong>This text is left-aligned.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-right"><strong>This text is right-aligned.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-center"><strong>This text is center-aligned.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-justify"><strong>This text is justified.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
</div>

<hr>

<div id="example-subheader">
  <h2>Subheader</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#subheader">Zurb Foundation documentation</a></p>

  <h1 class="subheader">h1.subheader</h1>
  <h2 class="subheader">h2.subheader</h2>
  <h3 class="subheader">h3.subheader</h3>
  <h4 class="subheader">h4.subheader</h4>
  <h5 class="subheader">h5.subheader</h5>
  <h6 class="subheader">h6.subheader</h6>
</div>

<hr>

<div id="example-lead-paragraph">
  <h2>Lead paragraph</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#lead-paragraph">Zurb Foundation documentation</a></p>

  <p class="lead">What are your cats <em>really</em> dreaming about while they sleep?</p>
  <p>Normal paragraph.</p>
</div>

<hr>

<div id="example-un-bulleted-list">
  <h2>Un-bulleted list</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#un-bulleted-list">Zurb Foundation documentation</a></p>

  <ul class="no-bullet">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>

  <ol class="no-bullet">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ol>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ol>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>
</div>

<hr>

<div id="example-typescale">
  <h2>Typescale</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#typescale">Zurb Foundation documentation</a></p>

  <p class="h1">Lorem Ipsum Dolor</p>
  <p class="h2">Lorem Ipsum Dolor</p>
  <p class="h3">Lorem Ipsum Dolor</p>
  <p class="h4">Lorem Ipsum Dolor</p>
  <p class="h5">Lorem Ipsum Dolor</p>
  <p class="h6">Lorem Ipsum Dolor</p>
</div>

<hr>

<div id="example-statistics">
  <h2>Statistics</h2>
  <p><a href="https://get.foundation/sites/docs/typography-helpers.html#statistics">Zurb Foundation documentation</a></p>

  <p>Days without merge conflict</p>
  <div class="stat">128</div>
</div>
