<div id="example-navigation">
  <h2>Table of content</h2>
  <ul>
    <li><a href="#example-component-styling">Component styling</a></li>
    <li><a href="#example-arrow-utility">Arrow utility</a></li>
    <li><a href="#example-separator">Separator</a></li>
    <li><a href="#example-font-styling">Font styling</a></li>
    <li><a href="#example-list-styling">List styling</a></li>
    <li><a href="#example-text-helpers">Text helpers</a></li>
    <li><a href="#example-border-none">Border none</a></li>
  </ul>

  <p>Implemented as "styles" from the <a href="https://www.drupal.org/project/ui_styles">UI Styles module</a>.</p>
  <p>You can see the styles in the <a href="/styles">Styles library</a> (UI Styles Library required).</p>
  <p>Some styles do not have example but are implemented.</p>
</div>

<hr>

<div id="example-component-styling">
  <h2>Component styling</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#component-styling">Zurb Foundation documentation</a></p>

  <button type="button" class="button radius bordered shadow primary">Primary</button>
  <button type="button" class="button rounded bordered shadow secondary">Secondary</button>
  <button type="button" class="button radius bordered shadow success">Success</button>
  <button type="button" class="button rounded bordered shadow alert">Alert</button>
  <button type="button" class="button radius bordered shadow warning">Warning</button>

  <div class="switch rounded">
    <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
    <label class="switch-paddle" for="exampleSwitch">
      <span class="show-for-sr">Download Kittens</span>
    </label>
  </div>

  <table class="radius bordered shadow">
    <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    </tbody>
  </table>

  <img src="https://via.placeholder.com/150x150" class="radius">
</div>

<hr>

<div id="example-arrow-utility">
  <h2>Arrow utility</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#arrow-utility">Zurb Foundation documentation</a></p>

  <div class="arrow-down"></div>
  <div class="arrow-up"></div>
  <div class="arrow-right"></div>
  <div class="arrow-left"></div>
</div>

<hr>

<div id="example-separator">
  <h2>Separator</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#separator">Zurb Foundation documentation</a></p>

  <h3 class="separator-left">Lorem</h3>
  <h3 class="separator-center">Ipsum Dolor</h3>
  <h3 class="separator-right">Tempor</h3>
</div>

<hr>

<div id="example-font-styling">
  <h2>Font styling</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#font-styling">Zurb Foundation documentation</a></p>

  <p class="font-wide">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class="font-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p class="font-bold">Perspiciatis tempore cumque, magni aspernatur, quidem. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
  <p class="font-italic">Lorem minus, placeat, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.iure voluptas aliquam tempora neque?</p>
</div>

<hr>

<div id="example-list-styling">
  <h2>List styling</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#list-styling">Zurb Foundation documentation</a></p>

  <p class="font-bold">No bullet (no-bullet)</p>
  <ul class="no-bullet">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>

  <p class="font-bold">Unordered: disc (list-disc)</p>
  <ul class="list-disc">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>

  <p class="font-bold">Unordered: circle (list-circle)</p>
  <ul class="list-circle">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>

  <p class="font-bold">Unordered: square (list-square)</p>
  <ul class="list-square">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>

  <p class="font-bold">No bullet (no-bullet)</p>
  <ol class="no-bullet">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: decimal (list-decimal)</p>
  <ol class="list-decimal">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: lower alpha (list-lower-alpha)</p>
  <ol class="list-lower-alpha">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: lower latin (list-lower-latin)</p>
  <ol class="list-lower-latin">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: lower roman (list-lower-roman)</p>
  <ol class="list-lower-roman">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>


  <p class="font-bold">Ordered: upper alpha (list-upper-alpha)</p>
  <ol class="list-upper-alpha">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: upper latin (list-upper-latin)</p>
  <ol class="list-upper-latin">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>

  <p class="font-bold">Ordered: upper roman (list-upper-roman)</p>
  <ol class="list-upper-roman">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ol>
</div>

<hr>

<div id="example-text-helpers">
  <h2>Text helpers</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#text-helpers">Zurb Foundation documentation</a></p>

  <a href="#" class="text-hide">
    <img src="https://via.placeholder.com/100x30" alt="zurb logo">
    Zurb
  </a>

  <p class="text-uppercase"><strong>This is a upper-cased text.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-lowercase"><strong>This is a lower-cased text.</strong> Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-capitalize"><strong>This is a caPitAlized teXt.</strong> Set in the yEar 0 F.E. ("Foundation Era"), The PsychohisTorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire.</p>
  <p class="text-underline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
  <p class="text-overline">Perspiciatis tempore cumque, magni aspernatur, quidem</p>
  <p class="text-line-through">Lorem minus, placeat, iure voluptas aliquam tempora neque?</p>
  <p class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptatem similique officiis recusandae esse cum in totam quisquam perspiciatis quod! Magnam culpa vitae, tempore eos explicabo cupiditate. Deserunt, quisquam, quos!</p>
  <p class="text-nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptatem similique officiis recusandae esse cum in totam quisquam perspiciatis quod! Magnam culpa vitae, tempore eos explicabo cupiditate. Deserunt, quisquam, quos!</p>
  <p class="text-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptatem similique officiis recusandae esse cum in totam quisquam perspiciatis quod! Magnam culpa vitae, tempore eos explicabo cupiditate. Deserunt, quisquam, quos!</p>
</div>

<hr>

<div id="example-border-none">
  <h2>Border none</h2>
  <p><a href="https://get.foundation/sites/docs/prototyping-utilities.html#border-none">Zurb Foundation documentation</a></p>

  <div class="callout primary border-none">
    Hi! I am a callout with no Borders
  </div>
</div>
