<div id="example-navigation">
  <h2>Table of content</h2>
  <ul>
    <li><a href="#example-paragraphs">Paragraphs</a></li>
    <li><a href="#example-header">Header</a></li>
    <li><a href="#example-small-header-segments">Small header segments</a></li>
    <li><a href="#example-links">Links</a></li>
    <li><a href="#example-unordered-lists">Unordered lists</a></li>
    <li><a href="#example-ordered-lists">Ordered lists</a></li>
    <li><a href="#example-definition-lists">Definition lists</a></li>
    <li><a href="#example-blockquotes">Blockquotes</a></li>
    <li><a href="#example-abbreviations">Abbreviations</a></li>
    <li><a href="#example-code">Code</a></li>
    <li><a href="#example-keystrokes">Keystrokes</a></li>
  </ul>
</div>

<hr>

<div id="example-paragraphs">
  <h2>Paragraphs</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#paragraphs">Zurb Foundation documentation</a></p>

  <p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to <strong>make it bold!</strong>. You can also use em to <em>italicize your words</em>.</p>
</div>

<hr>

<div id="example-header">
  <h2>Header</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#header">Zurb Foundation documentation</a></p>

  <h1>h1. This is a very large header.</h1>
  <h2>h2. This is a large header.</h2>
  <h3>h3. This is a medium header.</h3>
  <h4>h4. This is a moderate header.</h4>
  <h5>h5. This is a small header.</h5>
  <h6>h6. This is a tiny header.</h6>
</div>

<hr>

<div id="example-small-header-segments">
  <h2>Small header segments</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#small-header-segments">Zurb Foundation documentation</a></p>

  <h3>Foundation for Sites <small>Version 6.7.4</small></h3>
</div>

<hr>

<div id="example-links">
  <h2>Links</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#links">Zurb Foundation documentation</a></p>

  <p>Links are very standard, and the color is preset to the Foundation primary color. <a href="https://get.foundation/sites/docs/global.html">Learn more about Foundation's global colors.</a></p>
</div>

<hr>

<div id="example-unordered-lists">
  <h2>Unordered lists</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#unordered-lists">Zurb Foundation documentation</a></p>

  <ul>
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
      <ul>
        <li>Nested list item</li>
        <li>Nested list item</li>
        <li>Nested list item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
  </ul>
</div>

<hr>

<div id="example-ordered-lists">
  <h2>Ordered lists</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#ordered-lists">Zurb Foundation documentation</a></p>

  <ol>
    <li>Cheese (essential)</li>
    <li>Pepperoni</li>
    <li>Bacon
      <ol>
        <li>Normal bacon</li>
        <li>Canadian bacon</li>
      </ol>
    </li>
    <li>Sausage</li>
    <li>Onions</li>
    <li>Mushrooms</li>
  </ol>
</div>

<hr>

<div id="example-definition-lists">
  <h2>Definition lists</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#definition-lists">Zurb Foundation documentation</a></p>

  <dl>
    <dt>Time</dt>
    <dd>The indefinite continued progress of existence and events in the past, present, and future regarded as a whole.</dd>
    <dt>Space</dt>
    <dd>A continuous area or expanse that is free, available, or unoccupied.</dd>
    <dd>The dimensions of height, depth, and width within which all things exist and move.</dd>
  </dl>
</div>

<hr>

<div id="example-blockquotes">
  <h2>Blockquotes</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#blockquotes">Zurb Foundation documentation</a></p>

  <blockquote>
    Those people who think they know everything are a great annoyance to those of us who do.
    <cite>Isaac Asimov</cite>
  </blockquote>
</div>

<hr>

<div id="example-abbreviations">
  <h2>Abbreviations</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#abbreviations">Zurb Foundation documentation</a></p>

  <p>In my dream last night, I saw <abbr title="John Ronald Reuel">J. R. R.</abbr> Tolkien and George <abbr title="Raymond Richard">R. R.</abbr> Martin hanging out on Sunset <abbr title="Boulevard">Blvd</abbr>.</p>
</div>

<hr>

<div id="example-code">
  <h2>Code</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#code">Zurb Foundation documentation</a></p>

  <p>Remember to escape angle brackets when printing HTML: <code>&lt;div&gt;</code></p>
  <p><span class="code-inline">I am not code, but I am displayed as if.</span></p>
  <p>
    <code class="code-block">{
      "What I am": "I am a big chunk of code. I can have very long lines, I will not break and show a scrollbar instead.",
      ...
      }</code>
  </p>
</div>

<hr>

<div id="example-keystrokes">
  <h2>Keystrokes</h2>
  <p><a href="https://get.foundation/sites/docs/typography-base.html#keystrokes">Zurb Foundation documentation</a></p>

  <p>Press <kbd>Cmd+Q</kbd> (or <kbd>Ctrl+Q</kbd> on Windows) to play Half-Life 3.</p>
</div>
