{% if items %}
  {% set attributes = attributes.addClass(['pagination', 'js-pager__items']) %}

  <nav aria-label="{{ 'Pagination'|t }}">
    <ul {{ attributes }}>
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="pagination-previous">
          <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span aria-hidden="true">{{ items.first.text|default('First'|t) }}</span>
          </a>
        </li>
      {% endif %}

      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pagination-previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('Previous'|t) }}</span>
          </a>
        </li>
      {% endif %}

      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="ellipsis" aria-hidden="true"></li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="{{ current == key ? 'current' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
            <span class="visually-hidden">
              {{ title }}
            </span>
            {{- key -}}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
            <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
              <span class="visually-hidden">
                {{ 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}

      {# For Views mini pager. #}
      {% if items.current %}
        <li class="current">
          <span class="visually-hidden">
            {{ 'Current'|t }}
          </span>
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}

      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="ellipsis" aria-hidden="true"></li>
      {% endif %}

      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pagination-next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('Next'|t) }}</span>
          </a>
        </li>
      {% endif %}

      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="pagination-next">
          <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span aria-hidden="true">{{ items.last.text|default('Last'|t) }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
