{#
/**
 * For preview, to avoid warnings due to preview value transformed as markup
 * object.
 */
#}
{% set current = current|render %}
{{ include('@ui_suite_zurb_foundation/patterns/pagination/pattern-pagination.html.twig') }}
