{% if image_section %}
  {% set image_before = '<div class="card-section">' %}
  {% set image_after = '</div>' %}
{% else %}
  {% set image_before = '' %}
  {% set image_after = '' %}
{% endif %}

<div{{ attributes.addClass('card') }}>
  {% if image and image_position == 'top' %}
    {{ image_before|raw }}
    {{ image }}
    {{ image_after|raw }}
  {% endif %}

  {% if header %}
    <div class="card-divider">
      {{ header }}
    </div>
  {% endif %}

  {% if image and image_position == 'middle' %}
    {{ image_before|raw }}
    {{ image }}
    {{ image_after|raw }}
  {% endif %}

  {% if text %}
    <div class="card-section">
      {{ text }}
    </div>
  {% endif %}

  {% if image and image_position == 'bottom' %}
    {{ image_before|raw }}
    {{ image }}
    {{ image_after|raw }}
  {% endif %}
</div>
